div{
	text-align: center;
}

img{
	width: 650px;
	text-align: center;
}

body{
	background-color: #7f73e3; 
}

h1{
  color:#f1f6e1;
}

h2{
	color:#f1f6e1;
}

body{
	color:#f1f6e1;
}